version: '3.9'

services:
  nginx:
    image: nginx:1.29.3@sha256:e21f8d0566ad4a2b7de56dae9e662147af6df51ed8a46692be3931513a1a56d7
    hostname: nginx
    container_name: openwrtproxy__nginx

    restart: unless-stopped

    volumes:
      - type: bind
        source: ./nginx.conf
        target: /etc/nginx/nginx.conf
        read_only: true

      - type: volume
        source: cache_data
        target: /var/cache/nginx

    deploy:
      resources:
        limits:
          memory: 512m

    networks:
      - default

  cloudflared:
    image: cloudflare/cloudflared:2025.11.1@sha256:89ee50efb1e9cb2ae30281a8a404fed95eb8f02f0a972617526f8c5b417acae2
    hostname: cloudflared
    container_name: openwrtproxy__cloudflared

    restart: unless-stopped

    environment:
      TUNNEL_METRICS: 0.0.0.0:9126
      TUNNEL_LOGFILE: /dev/stdout

    command: tunnel run --token ${TUNNEL_TOKEN}
    user: root

    deploy:
      resources:
        limits:
          memory: 128m

    networks:
      default:

volumes:
  cache_data:
    name: openwrtproxy__cache_data


networks:
  default:
    name: openwrtproxy__default
